<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <!-- style.css -->
  <link rel="stylesheet" href="/public/css/style.css">
  <!-- boostrap.css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
  <header>
    <!-- Menu điều hướng -->
    <div class="navbar">
      <a href="home.html" class="logo">THE HOTEL</a>
      <nav class="nav-links">
        <a href="#">Nơi ở</a>
        <a href="#">Thuê xe</a>
        <a href="#">Khách sạn</a>
        <a href="#">Taxi sân bay</a>
        <a href="#">Chuyến bay</a>
        <a href="abou.html">Giới thiệu</a>
        <a href="profile_acount.html">demo profile acount</a>
      </nav>
      <!-- đăng kí đăng nhập -->
      <div class="auth">
        <button onclick="location.href='login.html'">Đăng kí</button>
        <button onclick="location.href='login.html'">Đăng nhập</button>
      </div>
    </div>
    <!-- Thanh tìm kiếm -->
    <div class="search">
      <input type="text" placeholder="Tìm địa điểm...">
      <input type="text" placeholder="Ngày nhận - ngày trả">
      <input type="text" placeholder="2 người lớn - 1 phòng">
      <button onclick="location.href='login.html'">Tìm</button>
    </div>
  </header>
  <!-- banner -->
  <section class="banner">
    <div class="banner-text">
      <h2>Vi vu thoải mái như ở nhà</h2>
      <p>Với lựa chọn từ nhà, biệt thự, homestay và hơn thế nữa</p>
      <button class="book-now">Đặt ngay</button>
    </div>
  </section>

  <section class="room-section">
    <h3>Phòng nổi bật</h3>
    <div class="room-grid">
      <div class="room-card phong101" onclick="location.href='booking.html'">Phòng 101</div>
      <div class="room-card phong202" onclick="location.href='booking.html'">Phòng 202</div>
      <div class="room-card phong303" onclick="location.href='booking.html'">Phòng 303</div>
      <div class="room-card phong404" onclick="location.href='booking.html'">Phòng 404</div>
    </div>

  </section>
  <section class="room-section">
    <h3>Phong cách thịnh hành</h3>
    <div class="room-grid">
      <div class="room-card china">Phòng kiểu Trung Quóc</div>
      <div class="room-card japan ">Phòng kiểu Nhật Bổn</div>
      <div class="room-card modern">Phong cách hiện đại</div>
      <div class="room-card view">View triệu đô</div>
    </div>
  </section>

  <footer>
  </footer>
  <!-- boostrap.js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>
  <!-- script.js -->
  <script src="/public/js/script.js"></script>
</body>

</html>