<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/css/style-login.css">
</head>
<body>
    <div class="login-container">
    <div class="login-form">
      <h2>Đăng nhập</h2>
      <form>
        <input type="text" placeholder="Tên người dùng hoặc email">
        <input type="password" placeholder="Mật khẩu">
        <button type="submit">Tiếp tục</button>
      </form>

      <div class="separator">Hoặc tiếp tục với</div>
      <div class="social-login">
        <button>
          <img src="../../../public/image/google-logo.png" alt="Google">
          Tiếp tục với Google
        </button>
        <button>
          <img src="../../../public/image/Facebook_Logo_(2019).png" alt="Facebook">
          Tiếp tục với Facebook
        </button>
      </div>

      <div class="signup-link">
        Bạn chưa có tài khoản? <a href="#">Đăng ký</a>
      </div>
    </div>
  </div>

</body>
</body>
</html>